/* entire page settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
body {
    background-color: #E7E8D1;
}

/* Navigation bar */
.navigation ul {
    background-color: sienna;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 3px 6px #2d2d2d, 0 -4px 3px #2d2d2d;
  }

  .navigation ul li {
    display: inline;
    float: center;
    
  }

  .navigation {
    text-align: center;
    
  }

  .navigation a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 20px;
}

.navigation a:hover {
    color: #E7E8D1;
    text-decoration: underline;
}

/* Hero/header section */
#hero {
    background-image: url('../images/Alves.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 900px;
    width: 100%;
    box-shadow: 0 3px 6px #2d2d2d, 0 -4px 3px #2d2d2d;
}

h1 {
    font-size: 3.5em;
    text-decoration: underline;
    margin-left: 7%;
    padding-top: 25px;
    color:  #423014;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    }

h3 {
    font-size: 2.3em;
    margin-left: 7%;
    padding-top: 25px;
    color:  #423014;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}

p {
    color:  #423014;
    margin-left: 7%;
}


/* Gallery .hmtl */
.row1 {
    display: flex;
    justify-content: space-around;
    margin-left: 3%;
    margin-right: 3%;
}
  
.column1 {
    flex-wrap: wrap;
}

/* Alves .html */
.row2 {
    display: flex;
    margin-left: 6%;
    height: 400px;
  }
  
  .column2 {
    padding: 20px;
  }


/* footer section */

footer {
    background-color: sienna;
    padding: 30px;
}

footer a {
    padding: 30px;
    text-transform: uppercase;
    color: darkblue;
}

footer a:hover {
    color: #E7E8D1;
    text-decoration: underline; 
}

.p2 {
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .column1 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    
  }
  
  .row1 {
  flex-direction: column;
    width: auto;
overflow-x: hidden;
  }
  
  .navigation ul li a{
    display: inline;
   padding: 15px;
}
}